

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.reto{
	text-align: center;
	color: white;
	background-color: #E91E63;
}















